<!DOCTYPE html>
<html>
  <head>
    <title>Disney Favorites</title>  
  </head>
  <body>
    <h1>Your Favorite Disney Canon Movie</h1>
    Here you can choose your favorite Disney movie
    <p></p>
    
    <img src="https://testrepository.joaugoca.repl.co/static/banner.jpg"height="320">
    <p>
      If you already know your preferred Disney movie, just click on the button below to select it.<p>
    <button>I know my preferred Disney movie</button>
        
    <p>
      If you need help selecting your preferred Disney movie, click on the button bellow
    </p>
    <button>I want to see my options</button>
  </body>
</html>