<!DOCTYPE html>
<html>
  <head>
    <title>Disney Favorites</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
      #banner {
        height: 600px;
        width: 80%;
        }
      .button {border: none;
              margin: 0px -100px;
              padding: 0px -100px;
              
              }
    </style>
  </head>
  <body>
    <div class= "container">
      <h1 style= "font-size: 25px" class="text-center">Click on your favorite animated Disney canon movie</h1>
      
      <div class="container">
        <figure style="text-align: center;">
          <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/snow.jpg">
            <p class= "text-center">Snow White and the Seven Dwarfs </p>
            </button>
          </div>
      </figure>
      
      <figure style="text-align: center;">
          <div>
            <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/pinocchio.jpg"> 
            <p class= "text-center">Pinocchio</p>
              </button>
          </div>
        </figure>
      
      <figure style="text-align: center;">
          <div>
            <button class="button" type="submit">
          <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/fantasia.jpg">         
          <p class= "text-center">Fantasia</p>
              </button>
          </div> 
      </figure>
      
      <figure style="text-align: center;">
        <div>
          <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/dumbo.jpg">     
            <p class= "text-center">Dumbo</p>
            </button>
        </div>
        </figure>
      
      <figure style="text-align: center;">
          <div>
            <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/bambi.jpg">       
            <p class= "text-center">Bambi</p>
              </button>
          </div>
      </figure>
      
      <figure style="text-align: center;">
          <div>
            <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/saludos.jpg">       
            <p class= "text-center">Saludos Amigos</p>
              </button>
          </div> 
      </figure>
      
      <figure style="text-align: center;">
        <div>
          <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/caballeros.jpg">     
            <p class= "text-center">The Three Caballeros</p>
            </button>
        </div>
        </figure>
      
      <figure style="text-align: center;">
          <div>
            <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/fun.jpg">       
            <p class= "text-center">Fun and Fancy Three</p>
              </button>
          </div>
      </figure>
      
      <figure style="text-align: center;">
          <div>
            <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/music.jpg">       
            <p class= "text-center">Make Mine Music</p>
              </button>
          </div> 
      </figure> 
      
      <figure style="text-align: center;">
        <div>
          <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/melody.jpg">       
            <p class= "text-center">Melody Time</p>
            </button>
        </div>
      </figure>
      
      <figure style="text-align: center;">
          <div>
            <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/ichabod.jpg">       
            <p class= "text-center">The Adventures of Ichabod and Mister Toad</p>
              </button>
          </div>
        </figure>
      
      <figure style="text-align: center;">
          <div>
            <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/cinderella.jpg">       
            <p class= "text-center">Cinderella</p>
              </button>
          </div> 
      </figure>  
      
      <figure style="text-align: center;">
        <div>
          <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/alice.jpg">     
            <p class= "text-center">Alice in Wonderland</p>
            </button>
        </div>
        </figure>
      
      <figure style="text-align: center;">
          <div>
            <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/peter.jpg">       
            <p class= "text-center">Peter Pan</p>
              </button>
          </div>
        </figure>
      
      <figure style="text-align: center;">
          <div>
            <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/lady.jpg">       
            <p class= "text-center">The Lady and the Tramp</p>
              </button>
          </div> 
      </figure>
      
      <figure style="text-align: center;">
        <div>
          <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/sleeping.jpg">     
            <p class= "text-center">Sleeping Beauty</p>
            </button>
        </div>
        </figure>
      
      <figure style="text-align: center;">
          <div>
            <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/sword.jpg">       
            <p class= "text-center">The Sword in the Stone</p>
              </button>
          </div>
        </figure>
      
      <figure style="text-align: center;">
          <div>
            <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/dalmatians.jpg">       
            <p class= "text-center">One Hundred and One Dalmatians</p>
              </button>
          </div> 
      </figure>
      
      <figure style="text-align: center;">
        <div>
          <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/jungle.jpg">     
            <p class= "text-center">The Jungle Book</p>
            </button>
        </div>
        </figure>

      <figure style="text-align: center;">
          <div>
            <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/aristocats.jpg">       
            <p class= "text-center">Aristocats</p>
              </button>
          </div>
        </figure>
      
      <figure style="text-align: center;">
          <div>
            <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/robin.jpg"> 
            <p class= "text-center">Robin Hood</p>
              </button>
          </div> 
      </figure>  
      
      <figure style="text-align: center;">
        <div>
          <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/winnie.jpg"> 
            <p class= "text-center">The Many Adventures of Winnie the Pooh</p>
            </button>
        </div>
        </figure>
      
      <figure style="text-align: center;">
          <div>
            <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/rescuers.jpg">       
            <p class= "text-center">The Rescuers</p>
              </button>
          </div>
        </figure>
      
      <figure style="text-align: center;">
          <div>
            <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/fox.jpg"> 
            <p class= "text-center">The Fox and the Hound</p>
              </button>
          </div> 
      </figure>
      
      <figure style="text-align: center;">
        <div>
          <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/cauldron.jpg">     
            <p class= "text-center">The Black Cauldron</p>
            </button>
        </div>
        </figure>
      
      <figure style="text-align: center;">
          <div>
            <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/detective.jpg">       
            <p class= "text-center">The Great Mouse Detective</p>
              </button>
          </div>
        </figure>
      
      <figure style="text-align: center;">
          <div>
            <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/oliver.jpg">       
            <p class= "text-center">Oliver & Company</p>
              </button>
          </div> 
      </figure>
      
      <figure style="text-align: center;">
        <div>
          <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/mermaid.jpg">     
            <p class= "text-center">The Little Mermaid</p>
            </button>
        </div>
        </figure>
      
      <figure style="text-align: center;">
          <div>
            <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/down.jpg">       
            <p class= "text-center">The Rescuers Down Under</p>
              </button>
          </div>
        </figure>
      
      <figure style="text-align: center;">
          <div>
            <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/beauty.jpg">       
            <p class= "text-center">Beauty and the Beast</p>
              </button>
          </div> 
      </figure>
      
      <figure style="text-align: center;">
        <div>
          <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/aladdin.jpg">     
            <p class= "text-center">Aladdin</p>
            </button>
        </div>
        </figure>
      
      <figure style="text-align: center;">
          <div">
            <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/lion.jpg">       
            <p class= "text-center">The Lion King</p>
              </button>
          </div>
        </figure>
      
      <figure style="text-align: center;">
          <div>
            <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/pocahontas.jpg">       
            <p class= "text-center">Pocahontas</p>
              </button>
          </div> 
      </figure>
      
      <figure style="text-align: center;">
        <div>
          <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/hunchback.jpg">     
            <p class= "text-center">The Hunchback of Notre Dame</p>
            </button>
        </div>
        </figure>
      
      <figure style="text-align: center;">
          <div>
            <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/hercules.jpg">       
            <p class= "text-center">Hercules</p>
              </button>
          </div>
        </figure>
      
      <figure style="text-align: center;">
          <div>
            <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/mulan.jpg">       
            <p class= "text-center">Mulan</p>
              </button>
          </div> 
      </figure>
      
      <figure style="text-align: center;">
        <div>
          <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/tarzan.jpg">     
            <p class= "text-center">Tarzan</p>
            </button>
        </div>
        </figure>
      
      <figure style="text-align: center;">
          <div>
            <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/2000.jpg">       
            <p class= "text-center">Fantasia 2000</p>
              </button>
          </div>
        </figure>
      
      <figure style="text-align: center;">
          <div>
            <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/dinosaur.jpg">       
            <p class= "text-center">Dinosaur</p>
              </button>
          </div> 
      </figure>
      
      <figure style="text-align: center;">
        <div>
          <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/emperor.jpg">     
            <p class= "text-center">The Emperor's New Groove</p>
            </button>
            </div>
        </figure>
      
      <figure style="text-align: center;">
          <div>
            <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/atlantis.jpg">       
            <p class= "text-center">Atlantis</p>
              </button>
          </div>
        </figure>
      
      <figure style="text-align: center;">
          <div>
            <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/lilo.jpg">       
            <p class= "text-center">Lilo and Stitch</p>
              </button>
          </div> 
      </figure>
      
      <figure style="text-align: center;">
        <div>
          <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/treasure.jpg">     
            <p class= "text-center">Treasure Planet</p>
            </button>
        </div>
        </figure>
      
      <figure style="text-align: center;">
          <div>
            <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/brother.jpg">      
            <p class= "text-center">Brother Bear</p>
              </button>
          </div>
        </figure>
      
      <figure style="text-align: center;">
          <div>
            <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/home.jpg">       
            <p class= "text-center">Home on the Range</p>
              </button>
          </div> 
      </figure>
      
      <figure style="text-align: center;">
        <div>
          <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/chicken.jpg">     
            <p class= "text-center">Chicken Little</p>
            </button>
        </div>
        </figure>
      
      <figure style="text-align: center;">
          <div>
            <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/robinsons.jpg">      
            <p class= "text-center">Meet the Robinsons</p>
              </button>
            </div>
          </figure>
      
        <figure style="text-align: center;">
          <div>
            <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/bolt.jpg">      
            <p class= "text-center">Bolt</p>
              </button>
          </div> 
        </figure>
      
      <figure style="text-align: center;">
        <div>
          <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/frog.jpg">     
            <p class= "text-center">The Princess and the Frog</p>
            </button>
            </div>
        </figure>
      
      <figure style="text-align: center;">
          <div>
            <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/tangled.jpg"> 
            <p class= "text-center">Tangled</p>
              </button>
            </div>
        </figure>
      
      <figure style="text-align: center;">
          <div>
            <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/winnie2.jpg"> 
            <p class= "text-center">Winnie the Pooh</p>
              </button>
          </div> 
      </figure>
      
      <figure style="text-align: center;">
        <div>
          <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/ralph.jpg"> 
            <p class= "text-center">Wreck it Ralph</p>
            </button>
            </div>
        </figure>
      
      <figure style="text-align: center;">
          <div>
            <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/frozen.jpg"> 
            <p class= "text-center">Frozen</p>
              </button>
            </div>
        </figure>
      
      <figure style="text-align: center;">
          <div>
            <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/hero.jpg"> 
            <p class= "text-center">Big Hero 6</p>
              </button>
          </div> 
      </figure>
      
      <figure style="text-align: center;">
        <div>
          <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/zootopia.jpg"> 
            <p class= "text-center">Zootopia</p>
            </button>
            </div>
        </figure>
      
      <figure style="text-align: center;">
          <div">
            <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/moana.jpg"> 
            <p class= "text-center">Moana</p>
          </button>
            </div>
        </figure>
      
      <figure style="text-align: center;">
          <div>
            <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/ralph2.jpg"> 
              <p class= "text-center">Ralph Breaks the Internet</p>
            </button>
            </div> 
      
      </figure>
      <figure style="text-align: center;">
        <div>
          <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/frozen2.jpg"> 
            <p class= "text-center">Frozen 2</p>
          </button>
            </div>
        </figure>
      
      <figure style="text-align: center;">
          <div>
            <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/raya.jpg"> 
              <p class= "text-center">Raya and the Last Dragon</p>
            </button>
            </div>
        </figure>
      
      <figure style="text-align: center;">
          <div>
            <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/encanto.jpg"> 
            <p class= "text-center">Encanto</p>
            </button>
          </div> 
      </figure>
      
      <figure style="text-align: center;">
        <div>
          <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/strange.jpg"> 
            <p class= "text-center">Strange World</p>
            </button>
        </div>
        </figure>
      
      <figure style="text-align: center;">
          <div>
            <button class="button" type="submit">
            <img class= "img-fluid" id = "banner"src="https://testrepository.joaugoca.repl.co/static/wish.jpg"> 
            <p class= "text-center">Wish</p>
            </button>
          </div> 
        </figure>
      
        </div>
      </div>
    </div>
  </body>
</html>